.nav {
    position: relative;
    font-family: MonM;
    width: 100%;
    height: 100%;
    display: flex;
    color: #ffff;
    font-size: 20px;
}

.ul-items {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    gap: 8%;
    padding-left: 5%;
}
.show {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    gap: 8%;
    padding-left: 5%;
}

.other-container {
    position: absolute;
    left: 55%;
    width: 45%;
    display: flex;
    align-items: center;
    height: 100%;
}

.div-metamask {
    position: absolute;
    left: 15%;   
}

.div-golden-elf-header {
    position: absolute;
    right: 6%;
}

.div-idiom-selector {
    width: 10%;
    position: absolute;
    left: 45%
}

.div-idiom-selector:hover {
    cursor: pointer;
}
.togglebtn{
    width: 35px;
    position: absolute;
    left: 80px;
    top: 40px;
    display: none;
}
.togglebtn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    float: left ;
    margin-bottom: 8px;
}

@media (max-width:1445px){
    .div-metamask{
        width: 30%;
    }
    .nav{
        font-size: 18px;
    }
    .div-idiom-selector{
        left: 50%;
    }
}
@media (max-width:1230px){
    .nav{
        font-size: 15px;
    }
}
@media (max-width:1000px){
    .nav{
        font-size: 13px;
    }
}
@media(max-width:905px){
    .nav{
        font-size: 11px;
    }
    .div-metamask{
        left: 20%;
    }
}

@media (max-width:800px){

    .togglebtn{
        display: block ;
        margin-top: -20px;
    }
    .ul-items{
        display: none;
        width: 100%;
        border-top: 1px solid rgb(243, 243, 243);
        padding:20px;
        margin-top: 30px;
    }
    .nav ul li{
        padding: 15px 10px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.377);

    }
    .show{
        margin-top: 80px;
        margin-left: 60px;
        display: block;
        
    }
    .other-container{
        left: 35%;
    }
    .div-golden-elf-header{
        left: 74%;
    }

}


