.nav {
    position: relative;
    font-family: MonM;
    width: 100%;
    height: 100%;
    display: flex;
    color: #ffff;
    font-size: 20px;
}

.ul-items {
    display: flex;
    width: 3/5;
    height: 100%;
    align-items: center;
    gap: 96px;
    padding-left: 115px;
}

.div-metamask {
    display: flex;
    width: fit-content;
    position: relative;
    left: 200px;
    align-items: center;
    height: 100%;
}

.div-golden-elf-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    padding-right: 60px;
}